# Ignore build output directories
model/
image_output/
csv_output/
brain_region_extracted/
mask_insular_amygdala/
subtitle_all/
extracted_voxel/
image_out/
best_cnnLstm.pt
cnn_lstm_out.png
cnn_lstm_model

windowed_X.dat
Y_windowed.dat
bestdeLstm.pt
non_balanced_DenseNetLstm.pt
test.pt
best_model.pth
Y_windowed_oneclass.dat